/* Fonts import */
@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&family=Lato:wght@300&display=swap');

/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Header */
header {
    background-color: #cce0db;
    font-family: 'Figtree', sans-serif;
    position: fixed;
    width: 100%;
    z-index: 3;
    top: 0;
    padding: 0 1rem;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    

}

header a {
    text-decoration: none;
    color: inherit;
    
}

#logo {
    font-size: 240%;
    line-height: 75px;
    margin: 0 0.5rem;
}

/* Navbar */
nav {
    display: none;
    background-color: #cce0db;
    width: 100%;
    padding: 0 1rem;
    left: 0;
    position: absolute;
    top: 100%;
}

/* Dropdown Nav */
#nav-dropdown:checked~nav {
    display: block;
}

#nav-dropdown {
    display: none;
}

.nav-dropdown-label {
    font-size: 4rem;
}

/*
.dropdown:hover .dropdown-content {
    display: block;

}*/


/* General Styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic project styles */
    font-family: 'Figtree', sans-serif;
}

h1, h2, h3 {

    letter-spacing: 2px;
    color: #000000;

}

/* Main Content */
main { 
    /* Make main element pushes footer down */
    flex: 1 0 auto;
    margin-top: 47px;
}

/* Hero section */
#hero {
    height: 600px;
    width: 100%;
    background: url("../images/hero-image.JPEG") no-repeat center center/cover;
    position: relative;

}

#about-text {
    background-color: rgba(132, 132, 132, 0.7);
    font-size: 110%;
    position: absolute;
    bottom: 20px;
    width: 60%;
    min-height: 200px;
    padding-top: 40px;
    padding-left: 10px;
}

#about-text > h2, #about-text > p {
    color: #ffffff;
}



/* Footer */
footer {
    background-color: #cce0db;
}

#menu {
    letter-spacing: 2px;
    list-style-type: none;
    font-size: 120%;
}

#menu > li {
    margin-bottom: 1em;
    display: inline-block;
    margin-right: 10px;

}

.selected {
    border-bottom: 4px dotted #000000;
}

#social {
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;

}

#social i {
    font-size: 140%;
    padding: 5%;
    color: #000000;
}

/* Media query: 768px -> */
@media screen and (min-width: 768px) {
    .nav-dropdown-label {
        display: none;
    }
    
    nav {
        position: relative;
        display: block;
        width: fit-content;    
    }

    #menu > li {
        padding-left: 1rem;
    }


}