/* Fonts import */
@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&family=Lato:wght@300&display=swap');

/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Header */
header {
    background-color: rgb(235, 189, 189);
    font-family: 'Figtree', sans-serif;
    position: fixed;
    width: 100%;
    z-index: 3;
    top: 0;
    padding: 0 1rem;
    display: flex;
    justify-content: space-between;
    align-items: baseline;

}

header a {
    text-decoration: none;
    color: inherit;
    
}

/* General Styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic project styles */
    background-color: #cce0db;
    font-family: 'Figtree', sans-serif;
}

/* Main Content */
main { 
    background-color: rgb(130, 197, 219);
    /* Make main element pushes footer down */
    flex: 1 0 auto;
}

/* Footer */
footer {
    background-color: rgb(233, 224, 206);
}

#menu {
    text-size-adjust: 100%;
    letter-spacing: 2px;
    list-style-type: none;
}

#menu > li {
    margin-bottom: 1em;
    display: inline-block;
    margin-right: 10px;

}

